/*=======================
25. Start About Me Area
==========================*/
.about-me-area {
    padding: 150px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .about-me-area {
        padding: 80px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .about-me-area {
        padding: 60px 0;
    }
}

.about-me-content .about-author-thumb {
    border-radius: 50%;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    height: 170px;
    width: 170px;
    overflow: hidden;
    margin: auto;
}

.about-me-content .about-author-thumb img {
    height: 100%;
    width: 100%;
}

.about-me-content .about-author-info {
    -ms-flex-preferred-size: calc(100% - 200px);
    flex-basis: calc(100% - 200px);
    margin-left: 30px;
}

@media only screen and (max-width: 575.98px) {
    .about-me-content .about-author-info {
        margin-left: 0;
        margin-top: 30px;
    }
}

.about-me-content .about-author-info h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 34px;
    margin-top: -3px;
}

@media only screen and (max-width: 767.98px) {
    .about-me-content .about-author-info h2 {
        margin-bottom: 20px;
    }
}

.about-me-content .about-author-info .author-sign {
    margin-top: 24px;
}
