/*02. Start Header Area Wrapper
===============================*/
.header-area-wrapper {
    padding: 70px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .header-area-wrapper {
        padding: 40px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-area-wrapper {
        padding: 30px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {

    .header-area-wrapper button,
    .header-area-wrapper a {
        font-size: 20px;
    }
}

.header-area-wrapper .cart-button {
    position: relative;
}

.header-area-wrapper .cart-button .count {
    background-color: #222222;
    color: #fff;
    border-radius: 50%;
    display: block;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: -7px;
    right: -10px;
    line-height: 14px;
    height: 15px;
    width: 15px;
}


.header-area-wrapper .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.main-menu :hover{
font-size: .9rem;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
color: #fdc657;
padding: 0 4px;

}

.logo-wrap img.sticky-logo {
    display: none;
}

.off-canvas-area-wrap {
    margin-left: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .off-canvas-area-wrap {
        float: right;

    }
}

.off-canvas-area-wrap button,
.off-canvas-area-wrap a {
    color: white;
    line-height: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin-right: 30px;
}

.off-canvas-area-wrap button:last-child,
.off-canvas-area-wrap a:last-child {
    margin-right: 0;
}

.off-canvas-area-wrap button:hover,
.off-canvas-area-wrap a:hover {
    color: #fdc657;
}

.off-canvas-area-wrap button .bar-txt,
.off-canvas-area-wrap a .bar-txt {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .off-canvas-area-wrap.header-center {
        margin-left: 45px;
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transition: padding 0.5s;
    -o-transition: padding 0.5s;
    transition: padding 0.5s;
    z-index: 1030;
}

.sticky-header.sticky {
    background-color: white;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    padding: 25px 0;
    -webkit-animation: fadeInDown 1s forwards;
    animation: fadeInDown 1s forwards;
}

.sticky-header.sticky * {
    color: #222222;
}

.sticky-header.sticky *:hover {
    color: #fdc657;
}

.sticky-header.sticky .logo-wrap img {
    display: none;
}

.sticky-header.sticky .logo-wrap img.sticky-logo {
    display: inline-block;
}
.sticky-logo{
    width: auto;
}

.sticky-header.sticky .main-menu>.dropdown-navbar>.dropdown-nav {
    margin-top: 29px;
}

.sticky-header.sticky .main-menu>.dropdown-navbar>.dropdown-nav:before {
    height: 30px;
}

.sticky-header.sticky .header-left-wrapper:before,
.sticky-header.sticky .off-canvas-area-wrap:before {
    height: 20px !important;
}

.black-header .sticky-logo {
    display: inline-block !important;
}

.black-header ul li a {
    color: #222222;
}

.black-header button,
.black-header a {
    color: #222222;
}

.header-padding {
    padding: 41px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width: 767.98px) {
    .header-padding {
        padding: 25px 0;
    }

}

.header-four {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 41px 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-four .container-fluid {
        padding: 0 15px;
    }
    #menu_but{
        display: none;
    }

}

.header-four .header-left-wrapper {
    position: relative;
    padding-right: 60px;
    margin-right: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-four .header-left-wrapper {
        padding-right: 20px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-four .header-left-wrapper {
        padding-right: 0;
        margin-right: 0;
    }
}

.header-four .header-left-wrapper:before {
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    right: 0;
    top: -42px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    height: 107px;
    width: 1px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-four .header-left-wrapper:before {
        display: none;
    }
}

@media only screen and (min-width: 1200px),
only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-four .header-right-wrapper {
        width: 100%;
    }
}

.header-four .header-right-wrapper .off-canvas-area-wrap {
    position: relative;
    padding-left: 60px;
}

@media (max-width: 1599px) {
    .header-four .header-right-wrapper .off-canvas-area-wrap {
        padding-left: 15px;
        margin-left: 15px;
    }
}

.header-four .header-right-wrapper .off-canvas-area-wrap:before {
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    left: 0;
    top: -47px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 107px;
    width: 1px;
    display: none;
}

@media (min-width: 1600px) {
    .header-four .header-right-wrapper .off-canvas-area-wrap:before {
        display: block;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-four .header-right-wrapper .off-canvas-area-wrap .off-canvas-btn {
        font-size: 20px;
        line-height: 1;
        color: #aaaaaa;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-four .header-right-wrapper .off-canvas-area-wrap .off-canvas-btn .bar-txt {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-four .header-right-wrapper .footer-social-icons a {
        font-size: 20px;
        color: #fff;
    }
}

.header-fix-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px 15px 0;
    max-width: 1140px;
    margin: auto;
    z-index: 999;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .header-fix-left {
        max-width: 960px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .header-fix-left {
        max-width: 720px;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-fix-left {
        max-width: 540px;
    }
}

@media screen and (min-width: 991.99px) and (max-width: 1599.99px) {
    .header-fix-left {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .header-fix-left .logo-area-wrap {
        margin-right: 100px;
    }
}

@media screen and (min-width: 1600px) {
    .header-fix-left {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: block;
        max-width: 265px;
        width: 100%;
    }

    .header-fix-left .logo-area-wrap {
        margin-bottom: 60px;
        padding: 114px 80px 0;
    }

    .header-fix-left .main-menu.nav {
        display: block !important;
        width: 200px;
    }

    .header-fix-left .main-menu.nav>li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .header-fix-left .main-menu.nav>li:last-child {
        margin-bottom: 0;
    }

    .header-fix-left .main-menu.nav>li a {
        padding: 10px 80px;
    }

    .header-fix-left .main-menu.nav>li .dropdown-nav {
        left: 100%;
        top: 0;
        margin-top: -50px;
    }

    .header-fix-left .main-menu.nav>li .dropdown-nav.mega-menu-wrap {
        min-width: 1140px;
    }

    .header-fix-left .main-menu.nav .full-width {
        position: relative;
    }

    .header-fix-left .main-menu.nav>.arrow>a:after {
        content: '\f105';
    }
}

.header-fix-left-two {
    padding: 41px 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 1600px) {
    .header-fix-left-two {
        background-color: #fff;
        padding: 0;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    }

    .header-fix-left-two .logo-area-wrap {
        padding: 0;
        margin: 100px 0 80px;
        text-align: center;
    }

    .header-fix-left-two .main-menu {
        text-align: center;
    }

    .header-fix-left-two .main-menu.nav {
        width: auto;
    }

    .header-fix-left-two .main-menu.nav>li {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .header-fix-left-two .main-menu.nav>li:last-child {
        border-bottom: 0;
    }

    .header-fix-left-two .main-menu.nav>li:hover>a {
        background-color: #fdc657;
        color: #fff;
    }

    .header-fix-left-two .main-menu.nav>li>a {
        padding: 25px 10px;
        display: block;
    }

    .header-fix-left-two .main-menu.nav>li ul {
        text-align: left;
    }
}


06. Start Page Header Area
===========================*/
.page-header-wrapper .page-header-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 350px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .page-header-wrapper .page-header-content {
        height: 220px;
    }
}

@media only screen and (max-width: 767.98px) {
    .page-header-wrapper .page-header-content {
        height: 160px;
    }
}

.page-header-wrapper .page-header-content h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .page-header-wrapper .page-header-content h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767.98px) {
    .page-header-wrapper .page-header-content h1 {
        font-size: 35px;
    }
}

.page-header-wrapper .page-header-content.layout--2 {
    color: #fff;
    margin-top: 90px;
    height: 400px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .page-header-wrapper .page-header-content.layout--2 {
        height: 220px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 767.98px) {
    .page-header-wrapper .page-header-content.layout--2 {
        height: 160px;
        margin-top: 70px;
    }
}

.page-header-wrapper .page-header-content.layout--2 h1 {
    color: #fff;
}

.page-header-1 {
    position: relative;
    z-index: 1;
}

.page-header-1:before {
    background: #11978d;
    background: -webkit-gradient(linear, left top, right top, from(#11978d), to(#092483));
    background: -o-linear-gradient(left, #11978d 0%, #092483 100%);
    background: linear-gradient(90deg, #11978d 0%, #092483 100%);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*----------------------------
Start Main Navigation Wrap
------------------------------*/
.main-menu>li {
    margin-right: 60px;
    line-height: 1;
}

.main-menu>li:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    .main-menu>li {
        margin-right: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .main-menu>li {
        margin-right: 35px;
    }
}

.main-menu>li:hover>a {
    color: #fdc657;
}

.main-menu>li a {
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-navbar {
    position: relative;
}

.dropdown-navbar.arrow>a:after {
    content: '\f107';
    font-family: "FontAwesome";
    font-size: 1rem;
    font-weight: 300;
    margin-left: 10px;
}

.dropdown-navbar .dropdown-nav {
    background-color: white;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
    margin-top: 45px;
    position: absolute;
    left: -50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    min-width: 270px;
    width: 100%;
    z-index: 99;
}

.dropdown-navbar .dropdown-nav:before {
    content: "";
    bottom: 100%;
    left: 0;
    position: absolute;
    height: 45px;
    width: 100%;
}

.dropdown-navbar .dropdown-nav>li {
    margin-bottom: 5px;
    padding: 0 30px;
}

.dropdown-navbar .dropdown-nav>li:last-child {
    margin-bottom: 0;
}

.dropdown-navbar .dropdown-nav>li a:not(.mega-title) {
    color: #666666;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 0;
    position: relative;
}

.dropdown-navbar .dropdown-nav>li a:not(.mega-title):before {
    background-color: #fdc657;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: 5px;
    height: 2px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    width: 0;
}

.dropdown-navbar .dropdown-nav>li:hover>a {
    color: #000;
}

.dropdown-navbar .dropdown-nav>li:hover>a:before {
    left: 0;
    right: auto;
    width: 100%;
}

.dropdown-navbar .dropdown-nav .dropdown-navbar .dropdown-nav {
    left: 100%;
    top: 0;
    margin-top: -25px;
}

.dropdown-navbar .dropdown-nav .dropdown-navbar .dropdown-nav li a:before {
    display: none;
}

.dropdown-navbar .dropdown-nav .dropdown-navbar.arrow:after {
    background-color: #666666;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    height: 6px;
    width: 6px;
}

.dropdown-navbar .dropdown-nav .dropdown-navbar.arrow:hover:after {
    background-color: black;
}

.dropdown-navbar .dropdown-nav .dropdown-navbar.arrow a:after {
    display: none;
}

.dropdown-navbar:hover>.dropdown-nav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.dropdown-navbar .mega-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    white-space: nowrap;
    width: auto;
}

.dropdown-navbar .mega-menu-wrap .mega-menu-item {
    border-right: 1px solid #e7e7e7;
    padding: 25px 30px;
    min-width: 280px;
    width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    .dropdown-navbar .mega-menu-wrap .mega-menu-item {
        min-width: 245px;
    }
}

.dropdown-navbar .mega-menu-wrap .mega-menu-item ul li {
    margin-bottom: 5px;
}

.dropdown-navbar .mega-menu-wrap .mega-menu-item ul li:last-child {
    margin-bottom: 0;
}

.dropdown-navbar .mega-menu-wrap .mega-menu-item ul li a:hover {
    color: black;
}

.dropdown-navbar .mega-menu-wrap .mega-menu-item .mega-title {
    color: #222222;
    font-weight: 600;
    margin-bottom: 7px;
    padding: 10px 0;
    text-transform: uppercase;
}

.dropdown-navbar.full-width {
    position: static;
}

.dropdown-navbar.full-width .dropdown-nav {
    right: 15px;
    left: auto;
    max-width: 1140px;
    width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .dropdown-navbar.full-width .dropdown-nav {
        right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .dropdown-navbar.full-width .dropdown-nav li a {
        white-space: normal;
        font-size: 13px;
        line-height: 1.3;
    }
}

.dropdown-navbar.bg-menu .mega-menu-wrap {
    background: #fff url("../img/extra/bg-menu.jpg") no-repeat bottom right;
    background-size: 50%;
}

.dropdown-navbar.bg-menu .mega-menu-wrap .mega-menu-item {
    border-right: 0;
}

@media (min-width: 1400px) {
    .header-area-wrapper .row {
        position: relative;
    }
}

.navigation-area-wrap.align-left .main-menu .dropdown-navbar.full-width .dropdown-nav {
    left: 15px;
    right: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .navigation-area-wrap.align-left .main-menu .dropdown-navbar.full-width .dropdown-nav {
        left: 0;
    }
}

.navigation-area-wrap.align-center .main-menu .dropdown-navbar.full-width .dropdown-nav {
    left: 50%;
    right: auto;
    -webkit-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
}

.navigation-area-wrap.align-center .main-menu .dropdown-navbar.full-width:hover .dropdown-nav {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.off-canvas-responsive-menu {
    right: auto;
    left: 0;
}

.off-canvas-responsive-menu.show .off-canvas-content-wrap {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
}

.off-canvas-responsive-menu .off-canvas-content-wrap {
    margin-left: inherit !important;
    -webkit-transform: translateX(-100%) !important;
    -ms-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content {
    padding: 0 !important;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .btn-close {
    right: auto;
    left: 100%;
    top: 0 !important;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu {
    padding: 0;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_btn {
    display: none;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav {
    background-color: white;
    display: block !important;

}
.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav :hover{
    background-color: #fdc657;
    color: white;
    text-decoration: none;
}
.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li a {
    color: #666666;
    font-size: 15px;
    padding: 10px;
    margin: 0;
    text-transform: capitalize;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li a .slicknav_arrow {
    background-color: rgba(238, 238, 238, 0.5);
    color: #666666;
    font-size: 18px;
    display: block;
    text-align: center;
    margin: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 42px;
    width: 50px;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li a a {
    padding: 0;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li a:hover {
    background-color: transparent;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li ul {
    background-color: #dddddd;
    margin: 0;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li ul li a {
    font-size: 13px;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav li ul li ul {
    background-color: #eeeeee;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav .slicknav_open>.slicknav_item {
    position: relative;
}

.off-canvas-responsive-menu .off-canvas-content-wrap .slicknav_menu .slicknav_nav .slicknav_open>.slicknav_item .slicknav_arrow {
    background-color:#fdc657;
    color: white;
}


/*================================*/
.off-canvas-area-wrapper,
.off-canvas-responsive-menu,
.off-canvas-search-box {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    height: 100vh;
    width: 100vw;
}

.off-canvas-area-wrapper .off-canvas-content-wrap,
.off-canvas-responsive-menu .off-canvas-content-wrap,
.off-canvas-search-box .off-canvas-content-wrap {
    background-color: white;
    margin-left: auto;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(calc(100% + 40px));
    -ms-transform: translateX(calc(100% + 40px));
    transform: translateX(calc(100% + 40px));
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    max-width: 360px;
    width: 100%;
}

@media only screen and (max-width: 575.98px) {

    .off-canvas-area-wrapper .off-canvas-content-wrap,
    .off-canvas-responsive-menu .off-canvas-content-wrap,
    .off-canvas-search-box .off-canvas-content-wrap {
        max-width: 250px !important;
    }
}

.off-canvas-area-wrapper .off-canvas-content-wrap .off-canvas-content,
.off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content,
.off-canvas-search-box .off-canvas-content-wrap .off-canvas-content {
    padding: 40px;
    height: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: 575.98px) {

    .off-canvas-area-wrapper .off-canvas-content-wrap .off-canvas-content,
    .off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content,
    .off-canvas-search-box .off-canvas-content-wrap .off-canvas-content {
        padding: 30px 15px;
    }
}

.off-canvas-area-wrapper .off-canvas-content-wrap .off-canvas-content .off-canvas-item,
.off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content .off-canvas-item,
.off-canvas-search-box .off-canvas-content-wrap .off-canvas-content .off-canvas-item {
    margin-bottom: 60px;
}

.off-canvas-area-wrapper .off-canvas-content-wrap .off-canvas-content .off-canvas-item:last-child,
.off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content .off-canvas-item:last-child,
.off-canvas-search-box .off-canvas-content-wrap .off-canvas-content .off-canvas-item:last-child {
    margin-bottom: 0;
}

.off-canvas-area-wrapper .off-canvas-content-wrap .off-canvas-content .off-canvas-item h2,
.off-canvas-responsive-menu .off-canvas-content-wrap .off-canvas-content .off-canvas-item h2,
.off-canvas-search-box .off-canvas-content-wrap .off-canvas-content .off-canvas-item h2 {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 23px;
    margin-top: -2px;
}

.off-canvas-area-wrapper .off-canvas-content-wrap .btn-close,
.off-canvas-responsive-menu .off-canvas-content-wrap .btn-close,
.off-canvas-search-box .off-canvas-content-wrap .btn-close {
    background-color: white;
    position: absolute;
    right: 100%;
    top: 100px;
    line-height: 40px;
    height: 40px;
    width: 40px;
}

.off-canvas-area-wrapper .off-canvas-content-wrap .btn-close:hover,
.off-canvas-responsive-menu .off-canvas-content-wrap .btn-close:hover,
.off-canvas-search-box .off-canvas-content-wrap .btn-close:hover {
    background-color: #fdc657;
    color: white;
}

.off-canvas-area-wrapper.show,
.off-canvas-responsive-menu.show,
.off-canvas-search-box.show {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    z-index: 9999;
}

.off-canvas-area-wrapper.show .off-canvas-overlay,
.off-canvas-responsive-menu.show .off-canvas-overlay,
.off-canvas-search-box.show .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.off-canvas-area-wrapper.show .off-canvas-content-wrap,
.off-canvas-responsive-menu.show .off-canvas-content-wrap,
.off-canvas-search-box.show .off-canvas-content-wrap {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.search-box-wrap {
    background-color: #f4f4f4;
    margin: -40px -40px 0 -40px;
    padding: 35px 40px;
}

@media only screen and (max-width: 575.98px) {
    .search-box-wrap {
        margin: -30px -15px 0 -15px;
    }
}

.search-box-wrap form {
    position: relative;
}

.search-box-wrap form input {
    background-color: transparent;
    border: none;
    display: block;
    padding-right: 20px;
    outline: none;
    width: 100%;
}

.search-box-wrap form .btn-search {
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.useful-link-menu {
    margin-top: -20px;
    overflow: hidden;
}

.useful-link-menu li {
    float: left;
    margin-top: 20px;
    max-width: 50%;
    width: 100%;
}

.useful-link-menu li a {
    color: #666666;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.useful-link-menu li a:hover {
    color: #fdc657;
}

.social-links {
    position: relative;
}

.social-links a {
    background-color: #f4f4f4;
    border-radius: 50%;
    color: #666666;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.social-links a:last-child {
    margin-right: 0;
}

.social-links a:hover {
    background-color: #fdc657;
    color: white;
}
